<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notas.css') }}">
    <title>Registro de Notas</title>
</head>
<body>
    <div class="banner">
        <img src="{{ url_for('static', filename='images/logo-libertadores.png') }}" alt="Logo">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mt-4">Agregar Nota</h2>
                <form id="addNoteForm">
                    <div class="form-group">
                        <label for="alumnoID">ID del Alumno</label>
                        <input type="text" class="form-control" id="alumnoID" name="alumnoID" required>
                    </div>
                    <div class="form-group">
                        <label for="asignaturaID">ID de la Asignatura</label>
                        <input type="text" class="form-control" id="asignaturaID" name="asignaturaID" required>
                    </div>
                    <div class="form-group">
                        <label for="corte">Corte</label>
                        <input type="text" class="form-control" id="corte" name="corte" required>
                    </div>
                    <div class="form-group">
                        <label for="calificacion">Calificacion</label>
                        <input type="number" class="form-control" id="calificacion" name="calificacion" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="agregarNota()">Agregar Nota</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function agregarNota() {
            // Obtener datos del formulario
            var data = {
                'AlumnoID': document.getElementById('alumnoID').value,
                'AsignaturaID': document.getElementById('asignaturaID').value,
                'Corte': document.getElementById('corte').value,
                'Calificacion': document.getElementById('calificacion').value
            };

            // Enviar solicitud POST al servidor
            fetch('http://172.23.64.161:5000/post', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Respuesta del servidor:', data);
            })
            .catch(error => {
                console.error('Error al enviar la solicitud:', error);
            });
        }
    </script>
</body>
</html>